 
 body {
 	background-color: #30343F !important;
 	color: #FFF !important;
 }

 .jumbotron {
 	  position: relative;
    background-color: transparent !important;
    /*padding-bottom:  20vh;*/
 }

.img {
		background-image: url("../assets/jumbotron-log.jpg");
    position: absolute;
    left:0; top:0;
    background-size: cover;
    width: 100vw;
    opacity: 0.65;   
    z-index: -1;
  	height: 60vh;
}

#headerblock {
	display: inline-block;
}

#headleft  {
	margin: 1% 5%;
}

#headright  {
	margin: 1% 5%;
}

#dropmenu {
	float: right;
	padding: 2vh 2vw;
	display: inline-block;
	position: relative;
}

.navbar-header {
	background-color: #CDCDCD;
	width: 100%;
}

.thumbnail {
	float: left;
	display: inline-block;
}

#text1 {
	margin: 2px;
	padding-top: 14vh;
	float: left;
	padding-bottom: 5vh;
}

#row1 {
	width: 100vw;
}

@media screen and (min-width: 500px) {

.resize {
	width:15vw;
  height:15vh;
	}
}

@media screen and (max-width: 500px) {
	.img {
		height: 80vh;
	}
}

.img-responsive {
	padding-top: 14vh;
	float: right;
	padding-bottom: 5vh;
}

#content1 {
	display: inline-block;
}

/*<------- Footer CSS --------> */
.copyrights{
margin-top: 0px;
}

footer.container-fluid.text-center.foot {
    background: #000915;
}

.dark-line{
border-top: 1px solid #525252;
margin: 1px;
}

.white-txt{
color: #FFF;
padding-top: 2vh;
}


a.link {
    color: #008acc;
    border: 1px #008acc solid;
    padding: 5px;
    text-decoration: none;
}

a.link:hover {
background: #008acc;
    color: #383838;
}

.footimg{
width: 5rem;
}



