 
 .jumbotron {
 	  position: relative;
    background-color: transparent !important;
 }
.img {
		background-image: url("../assets/bg1.jpg");
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 768px;
    width: 100vw;
    opacity: 0.65;   
    z-index: -1;
  	height: 80vh;
}

#dropmenu {
	float: right;
	padding: 5%;
}
